<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{Users/base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <section>
       <div class="container">
        <div th:if="${contact}">
            <div class="icon-container">
                <a th:href="@{'/user/show-contact/0'}">
                    <i class="fa-solid fa-circle-left"></i>
                </a>
            </div>        
            <div class="card mr-3 ml-3">
                <div class="container text-center">
                    <img style="height:200px; width:200px;" class="my_profile_picture mt-3 mb-3" src="" th:src="@{'/img/'+${contact.image}}" alt="profile_photo">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>#CustID:</th>
                                <td><span th:text="${contact.c_id}"></span></td>
                            </tr>
                            <tr>
                                <th>Contact Name:</th>
                                <td><span th:text="${contact.c_name}"></span></td>
                            </tr>
                            <tr>
                                <th>Last Name:</th>
                                <td><span th:text="${contact.lastname}"></span></td>
                            </tr>
                            <tr>
                                <th>Nickname:</th>
                                <td><span th:text="${contact.nickname}"></span></td>
                            </tr>
                            <tr>
                                <th>Phone:</th>
                                <td><span th:text="${contact.phone}"></span></td>
                            </tr>
                            <tr>
                                <th>Work:</th>
                                <td><span th:text="${contact.work}"></span></td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td><span th:text="${contact.email}"></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <h6>
                            <span th:utext="${contact.description}" style="color:palevioletred;"></span>
                        </h6>
                    </div>
                    <div class="container mt-3 mb-3">
                            <a href="#" th:onclick="|deleteContact(${contact.c_id})|" class="btn btn-danger btn"> Delete</a>
                            <form th:action="@{'/user/update-form/'+${contact.c_id}}" method="post" class="mt-3">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
            <h1 th:unless="${contact}">You don't have permission to view this contact details. </h1>
        </div>
    </section>
</body>
</html>
