<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org" th:replace="~{Users/base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <section>
        <div class="card ml-3 mr-3">
            <h1 class="text-center mt-3">Change Password</h1>
            <div class="card-body">
            <form class="container" action="/user/change-password" method="post">
                <div class="form-group ml-3 mr-3">
                    <input name="oldpass" type="password" class="form-control" placeholder="Enter old Password"/>
                </div>
                <div class="form-group ml-3 mr-3">
                    <input name="newpass" type="password" class="form-control" placeholder="Enter new Password"/>
                </div>
                <div class="container text-center mt-4">
                    <button type="submit" class="btn btn-success text-white">Change</button>
                    <button type="reset" class="btn btn-warning text-white">Reset</button>
                </div>
            </form>
    </div>
    </div>
    </section>
</body>
</html>